
main{
    margin: 2rem 0;
}
main *{
    line-height: 1.5;
}
main h1{
    margin: 1.5rem 0;
}
main h2{
    margin: 1rem 0;
    margin-bottom: 3.5rem;
}
main h3{
    margin: 2rem 0;
}
main .container{
    background-color: white;
    padding: 2rem 3rem;
    display: flex;
    gap: 2rem;
    overflow-y: scroll;
    max-height: 100vh;
    position: relative;
}
main .container .legend{
    background-color: var(--bg);
    height: fit-content;
    padding: 1.5rem 1rem;
    position: sticky;
    top: 1rem;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
main .container .legend a:hover{
    text-decoration: underline;
}
main p{
    margin: 1.5rem 0;
}
main ol li{
    margin-left: 2.5rem;
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
    list-style-type: decimal;
}